/* Global Styles */
body {
  background: #000;
  color: #4af262;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.view {
  max-width: 700px;
  margin: 2em auto;
  padding: 1em 2rem;
  background-color: #000;
}

.discussions {
  max-width: 900px;
  gap: 1em;
  margin: 2em auto;
  padding: 1em 2rem;
  background-color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
  position: relative;
  padding-left: 1.2em;
}

li::before {
  content: "✥";
  position: absolute;
  left: 0;
  color: #4af262;
}

.text-green {
  color: lime;
}
